* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Helvetica;
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 0.3px;
  max-width: 100vw;
}

a {
  text-decoration: none;
}
