#contacts {
  p {
    font-size: x-large;
  }
  textarea {
    height: 6rem;
  }
  form {
    width: 50vw;
    margin: 0 auto;
  }
  button {
    padding: 0.6rem 2rem;
  }
  img {
    height: 2rem;
  }
}

@media (max-width: 480px) {
  #contacts {
    form {
      width: 100vw;
    }
  }
}
