#portfolio {
  .card,
  .card img,
  .card-hover,
  .card-hover p,
  .card-hover button {
    border: 0;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s ease-in-out !important;
  }
  .card {
    border-radius: 0;
    &:hover {
      .card-hover {
        top: 30%;
        opacity: 0.8;
      }
      img {
        transform: scale(1.1);
        opacity: 0.4;
      }
    }
  }
  .card:hover .card-hover p {
    opacity: 1;
  }
  .card-hover {
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: absolute;
    display: block;
    opacity: 0;
    left: 0;
    top: 100%;
    background: rgb(124, 124, 124);
    transition: all 0.3s ease-in-out !important;
    border-radius: 0;
    text-align: center;
    .h5,
    p {
      color: white;
    }
  }
  button {
    margin-top: 1rem;
    border-radius: 0;
  }
  .img-filter {
    filter: blur(1px);
  }
}
@media (max-width: 480px) {
  #portfolio {
    .card {
      &:hover {
        .card-hover {
          top: 20%;
        }
      }
    }
  }
}
