@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");
#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: all 3s;
  background: rgb(2, 0, 36);
  background: linear-gradient(190deg, rgb(2, 0, 36) 0%, rgb(0, 0, 8) 30%, rgb(173, 173, 173) 100%);
}
#navbar a {
  color: #adadad;
}
#navbar a:hover {
  color: azure;
}
#navbar .nav-span {
  font-size: 2rem;
  color: rgb(66, 0, 248);
  letter-spacing: 0.6rem;
  font-family: "Combo", cursive;
}

#footer {
  background-color: black;
  padding-top: 3rem;
}
#footer img {
  width: 2rem;
  height: 2rem;
  filter: invert(1);
}
#footer .nav {
  padding: 2rem 0;
}
#footer .nav-item {
  margin: 0 1rem;
  background-color: rgb(43, 43, 48);
}
#footer .nav-item:hover {
  background-color: #2904f8;
}

.item-rotate {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  transition: all 0.5s ease;
}
.item-rotate:hover {
  transform: translateY(-3px);
  box-shadow: 1px -6px 43px 18px rgba(150, 152, 154, 0.51);
  border-radius: 50%;
  transform: rotate(360deg);
}
.item-rotate:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
          animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.copyright-div {
  color: #8f9aa7;
  opacity: 0.7;
}
.copyright-div span {
  color: #e31b6d;
}

header {
  display: contents;
}

#butterfly .butterfly {
  position: absolute;
  width: 15em;
  height: 8em;
  transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5);
  transform-origin: 100% 0%;
  transform-style: preserve-3d;
}
#butterfly .one {
  top: 60%;
  left: 10%;
  -webkit-animation: butterfly1 5s linear infinite;
  animation: butterfly1 5s linear infinite;
}
#butterfly .one .leftwing-one {
  background: url("../../img/butterfly/wing2.png") no-repeat;
  background-size: contain;
}
#butterfly .one .rightwing-one {
  background: url("../../img/butterfly/wing2.png") no-repeat;
  background-size: contain;
}
#butterfly .two {
  top: 40%;
  left: 50%;
  -webkit-animation: butterfly2 5s linear infinite;
  animation: butterfly2 5s linear infinite;
}
#butterfly .two .leftwing-two {
  background: url("../../img/butterfly/wing3.png") no-repeat;
  background-size: contain;
}
#butterfly .two .rightwing-two {
  background: url("../../img/butterfly/wing3.png") no-repeat;
  background-size: contain;
}
#butterfly .leftwing {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 120px;
  transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  transform-origin: inherit;
  -webkit-animation: leftwing 0.2s linear infinite;
  animation: leftwing 0.2s linear infinite;
}
#butterfly .rightwing {
  position: absolute;
  left: 178px;
  top: 0px;
  width: 50px;
  height: 120px;
  transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  transform-origin: inherit;
  -webkit-animation: rightwing 0.2s linear infinite;
  animation: rightwing 0.2s linear infinite;
}
@-webkit-keyframes butterfly1 {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  25% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 400px, 0);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 400px, 0);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
}
@keyframes butterfly1 {
  from {
    transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  25% {
    transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 400px, 0);
  }
  50% {
    transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  75% {
    transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 400px, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
}
@-webkit-keyframes butterfly2 {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-100px, 200px, 0);
  }
  25% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 500px, 0);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-500px, 700px, 0);
  }
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-500px, 500px, 0);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-100px, 200px, 0);
  }
}
@keyframes butterfly2 {
  from {
    transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-100px, 200px, 0);
  }
  25% {
    transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 500px, 0);
  }
  50% {
    transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-500px, 700px, 0);
  }
  75% {
    transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-500px, 500px, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-100px, 200px, 0);
  }
}
@-webkit-keyframes rightwing {
  from {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 100deg);
  }
  to {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
}
@keyframes rightwing {
  from {
    transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
  50% {
    transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 100deg);
  }
  to {
    transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
}
@-webkit-keyframes leftwing {
  from {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 80deg);
  }
  to {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes leftwing {
  from {
    transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotateX(90deg) rotate3d(0, 1, 0, 80deg);
  }
  to {
    transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
}

@media (max-width: 480px) {
  #butterfly .butterfly {
    width: 5em;
    height: 5em;
  }
}
#skystar {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skystar .sky {
  background: -webkit-linear-gradient(top, rgb(0, 0, 0) 50%, rgb(52, 45, 68) 80%, rgb(76, 70, 90));
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
#skystar .constellation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#skystar .star {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  -webkit-animation-name: star;
          animation-name: star;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#skystar .star.style1 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: star;
          animation-name: star;
}
#skystar .star.style2 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: star;
          animation-name: star;
}
#skystar .star.style3 {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: star;
          animation-name: star;
}
#skystar .star.style4 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: starBig;
          animation-name: starBig;
}
#skystar .star.size1 {
  width: 1px;
  height: 1px;
}
#skystar .star.size2 {
  width: 2px;
  height: 2px;
}
#skystar .star.size3 {
  width: 3px;
  height: 3px;
}
#skystar .star.opacity1 {
  opacity: 1;
}
#skystar .star.opacity2 {
  opacity: 0.5;
}
#skystar .star.opacity3 {
  opacity: 0.1;
}
#skystar .meteor {
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  transform: rotate(-35deg);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#skystar .meteor:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 85px solid white;
  position: absolute;
  left: 2px;
  top: 0;
}
#skystar .meteor.style1 {
  -webkit-animation-name: meteorStyle1;
          animation-name: meteorStyle1;
}
#skystar .meteor.style2 {
  -webkit-animation-name: meteorStyle2;
          animation-name: meteorStyle2;
}
#skystar .meteor.style3 {
  -webkit-animation-name: meteorStyle3;
          animation-name: meteorStyle3;
}
#skystar .meteor.style4 {
  -webkit-animation-name: meteorStyle4;
          animation-name: meteorStyle4;
}
#skystar .luna {
  position: absolute;
  right: 200px;
  top: 150px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  background-color: #fff;
  -webkit-animation-name: luna;
          animation-name: luna;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
#skystar .luna.textura {
  background-image: url("../../img/bgMoon.png");
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.4;
}
#skystar .glade {
  left: 0;
  bottom: 0;
  height: 100vh;
}
#skystar .glade img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
@-webkit-keyframes dim {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@keyframes dim {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes star {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
}
@keyframes star {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
}
@-webkit-keyframes starBig {
  0% {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px rgb(255, 255, 255);
  }
  20% {
    background-color: #ffc4c4;
    box-shadow: 0 0 10px 0px rgb(255, 196, 196);
  }
  80% {
    background-color: #c4cfff;
    box-shadow: 0 0 10px 0px rgb(196, 207, 255);
  }
  100% {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
  }
}
@keyframes starBig {
  0% {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px rgb(255, 255, 255);
  }
  20% {
    background-color: #ffc4c4;
    box-shadow: 0 0 10px 0px rgb(255, 196, 196);
  }
  80% {
    background-color: #c4cfff;
    box-shadow: 0 0 10px 0px rgb(196, 207, 255);
  }
  100% {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
  }
}
@-webkit-keyframes meteorStyle1 {
  0% {
    opacity: 0;
    right: 300px;
    top: 100px;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    right: 1000px;
    top: 600px;
  }
}
@keyframes meteorStyle1 {
  0% {
    opacity: 0;
    right: 300px;
    top: 100px;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    right: 1000px;
    top: 600px;
  }
}
@-webkit-keyframes meteorStyle2 {
  0% {
    opacity: 0;
    right: 700px;
    top: 100px;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 1400px;
    top: 600px;
  }
}
@keyframes meteorStyle2 {
  0% {
    opacity: 0;
    right: 700px;
    top: 100px;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 1400px;
    top: 600px;
  }
}
@-webkit-keyframes meteorStyle3 {
  0% {
    opacity: 0;
    right: 300px;
    top: 300px;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 1000px;
    top: 800px;
  }
}
@keyframes meteorStyle3 {
  0% {
    opacity: 0;
    right: 300px;
    top: 300px;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 1000px;
    top: 800px;
  }
}
@-webkit-keyframes meteorStyle4 {
  0% {
    opacity: 0;
    right: 700px;
    top: 300px;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 1400px;
    top: 800px;
  }
}
@keyframes meteorStyle4 {
  0% {
    opacity: 0;
    right: 700px;
    top: 300px;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 1400px;
    top: 800px;
  }
}
@-webkit-keyframes luna {
  0% {
    box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
  50% {
    box-shadow: 0 0 80px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
  100% {
    box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
}
@keyframes luna {
  0% {
    box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
  50% {
    box-shadow: 0 0 80px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
  100% {
    box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
#skystar .arrow {
  position: absolute;
  width: 100px;
  height: 100px;
}
#skystar .arrow:before,
#skystar .arrow:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-left: 10px solid #4d4250;
  border-bottom: 10px solid #4d4250;
  -webkit-animation: arrow 3s linear infinite;
          animation: arrow 3s linear infinite;
}
#skystar .arrow:after {
  -webkit-animation: arrow 3s linear infinite -1.5s;
          animation: arrow 3s linear infinite -1.5s;
}
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(0, -53px) rotate(-45deg);
  }
  10%, 90% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, 53px) rotate(-45deg);
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(0, -53px) rotate(-45deg);
  }
  10%, 90% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, 53px) rotate(-45deg);
  }
}

@media (max-width: 480px) {
  #skystar .arrow {
    width: 50px;
    height: 50px;
  }
}
#about {
  padding: 4rem 0;
}
#about img {
  max-height: 50vh;
}

@media (max-width: 480px) {
  #about .row {
    display: block;
  }
  #about p {
    padding-top: 15px;
  }
}
#skills p {
  margin: 0;
}
#skills .card {
  border: 0;
  border-radius: 0;
  box-shadow: 0px 5px 31px 8px rgba(34, 60, 80, 0.18);
}
#skills .card {
  transition: all 1s ease;
}
#skills .card:hover {
  transform: rotate(5deg);
}

@media (max-width: 768px) {
  #skills .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
  }
}
#contacts p {
  font-size: x-large;
}
#contacts textarea {
  height: 6rem;
}
#contacts form {
  width: 50vw;
  margin: 0 auto;
}
#contacts button {
  padding: 0.6rem 2rem;
}
#contacts img {
  height: 2rem;
}

@media (max-width: 480px) {
  #contacts form {
    width: 100vw;
  }
}
#portfolio .card,
#portfolio .card img,
#portfolio .card-hover,
#portfolio .card-hover p,
#portfolio .card-hover button {
  border: 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease-in-out !important;
}
#portfolio .card {
  border-radius: 0;
}
#portfolio .card:hover .card-hover {
  top: 30%;
  opacity: 0.8;
}
#portfolio .card:hover img {
  transform: scale(1.1);
  opacity: 0.4;
}
#portfolio .card:hover .card-hover p {
  opacity: 1;
}
#portfolio .card-hover {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: absolute;
  display: block;
  opacity: 0;
  left: 0;
  top: 100%;
  background: rgb(124, 124, 124);
  transition: all 0.3s ease-in-out !important;
  border-radius: 0;
  text-align: center;
}
#portfolio .card-hover .h5,
#portfolio .card-hover p {
  color: white;
}
#portfolio button {
  margin-top: 1rem;
  border-radius: 0;
}
#portfolio .img-filter {
  filter: blur(1px);
}

.wrapper-loader {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.loader {
  width: 20em;
  height: 20em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  -webkit-animation: animate 3s linear infinite;
          animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: gold;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: lime;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: "";
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@-webkit-keyframes animate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}
#skills p {
  margin: 0;
}
#skills .card {
  border: 0;
  border-radius: 0;
  box-shadow: 0px 5px 31px 8px rgba(34, 60, 80, 0.18);
}
#skills .card {
  transition: all 1s ease;
}
#skills .card:hover {
  transform: rotate(5deg);
}

@media (max-width: 768px) {
  #skills .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
  }
}
hr.style1 {
  border-top: 5px solid rgb(66, 0, 248);
  opacity: 1;
}

#about .container,
#portfolio .container,
#contacts .container,
#skills .container {
  padding: 0;
}

#skills,
#about,
#portfolio,
#contacts {
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.title {
  width: 100%;
  margin-bottom: 1rem;
}

#skills,
#contacts {
  background: linear-gradient(45deg, rgba(227, 227, 227, 0.5) 35%, rgba(193, 199, 199, 0.5) 94%);
}

@media (max-width: 768px) {
  #skills,
#about,
#portfolio,
#contacts {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media (max-width: 480px) {
  #skills,
#about,
#portfolio,
#contacts {
    padding-left: 2em;
    padding-right: 2em;
  }
}/*# sourceMappingURL=app.css.map */