@import './_navigate';
@import './_footer';
@import './_hader';
@import './_butterfly';
@import './_starsky';
@import './_about';
@import './_skills';
@import './_contacts';
@import './_portfolio';
@import './_skills';

hr.style1 {
  border-top: 5px solid rgb(66, 0, 248);
  opacity: 1;
}

#about .container,
#portfolio .container,
#contacts .container,
#skills .container {
  padding: 0;
}

#skills,
#about,
#portfolio,
#contacts {
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.title {
  width: 100%;
  margin-bottom: 1rem;
}
#skills,
#contacts {
  background: -webkit-linear-gradient(
    45deg,
    rgb(227, 227, 227, 0.5) 35%,
    rgb(193, 199, 199, 0.5) 94%
  );
  background: -moz-linear-gradient(45deg, rgb(227, 227, 227, 0.5) 35%, rgb(193, 199, 199, 0.5) 94%);
  background: linear-gradient(45deg, rgb(227, 227, 227, 0.5) 35%, rgb(193, 199, 199, 0.5) 94%);
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(223, 224, 245, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
