@import './_navigate';
@import './_footer';
@import './_header';
@import './_butterfly';
@import './_starsky';
@import './_about';
@import './_skills';
@import './_contacts';
@import './_portfolio';
@import './_loader';
@import './_skills';

hr.style1 {
  border-top: 5px solid rgb(66, 0, 248);
  opacity: 1;
}

#about .container,
#portfolio .container,
#contacts .container,
#skills .container {
  padding: 0;
}

#skills,
#about,
#portfolio,
#contacts {
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.title {
  width: 100%;
  margin-bottom: 1rem;
}
#skills,
#contacts {
  background: -webkit-linear-gradient(
    45deg,
    rgb(227, 227, 227, 0.5) 35%,
    rgb(193, 199, 199, 0.5) 94%
  );
  background: -moz-linear-gradient(45deg, rgb(227, 227, 227, 0.5) 35%, rgb(193, 199, 199, 0.5) 94%);
  background: linear-gradient(45deg, rgb(227, 227, 227, 0.5) 35%, rgb(193, 199, 199, 0.5) 94%);
}
@media (max-width: 480px) {
  #skills,
  #about,
  #portfolio,
  #contacts {
    padding-left: 2em;
    padding-right: 2em;
  }
}
